<h1>Radhika and Vrinda</h1>

<div class="sticky-container">
  <div class="div-middle">
    <div ngui-sticky> &lt;div> tag in the middle </div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
    <div>One</div>
    <div>After</div>
    <div>Another</div>
  </div>
</div>